@media screen and (max-width: 300px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-size: 8px;
    }
    header{
        width: 270px;
        color: red;
        margin: 2px;
    }
    .img{
        margin-right: 3px;
    }
    img{
        margin: 2px;
        width: 25px;
    }
    main{
        margin: 2px;
        width: 270px;
    }
    table{
        width: 270px;
    }
    footer{
        margin: 2px;
        width: 270px;
    }
}